/* Toute pages */
body {
    margin: 0;
    overflow: hidden;
    
    font-family:Arial, "Helvetica", sans-serif;
    font-size:25px;
    color: #FFF;
}

.element-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    color: #696969;
    font-size: 24px;
}
input[type="text"]:focus {

}

input[type="submit"] {
    font-size:24px;
    color:#000000;
    text-align:center;
    cursor:pointer;
}
input[type="submit"]:active {
    
}

/* Page home */
#home-menu-container {
    flex-direction: column;
    align-items: center;
}
#home-input-container {
    flex-direction: row;
    align-items: center;
}

#home-username-input {

}
#home-play-button {
    
}

/* Page options */
#settings-icon, #back-icon {
    cursor: pointer;
}
#settings-icon-container {
    text-align: right;
}

